{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>LOGIN</title>
 		<link rel="stylesheet" type="text/css" href={% static 'stylee.css' %}>       
    </head>
    <body >
<form class="register-form" action="/processPassword/" method="post">
   {% csrf_token %}
  <div class="login-page">
  <div class="form">    
   <input type="text" id="cpswd" name="cpswd"  placeholder="Enter Current Password" class="searchTextField"/>

   <input type="text" id="npswd" name="npswd" placeholder="Enter New Password" class="searchTextField"/>

   <input type="text" id="cnpswd" name="cnpswd" placeholder="Confirm New Password" class="searchTextField"/>
   
    <button><a href="/processPassword">SUBMIT</a></button>
  </div>
</div>
</form>

    </body>
</html>