{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>HOME</title>
 		<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>       
    </head>
    <body >
<div align="center">
<h1 class ="hone">Welcome To SPP BANK {{u}}</h1>
<br></br>

<button  class="button button1 " onclick="document.location.href='/viewBalance'"><b>BALANCE</b></button>
<br></br>
<button class="button button1 " onclick="document.location.href='/Deposit'" ><b>DEPOSIT</b></button>
<br></br>
<button class="button button1 " onclick="document.location.href='/Withdraw'"><b>WITHDRAW</b></button>
<br></br>
<button class="button button1 " onclick="document.location.href='/editPassword'"><b>CHANGE PIN</b></button>
<br><br>
<button class="button button1 " onclick="document.location.href='/mini'"><b>MINI SATEMENT</b></button>
<br></br>
<button class="button button1 " onclick="document.location.href='http://127.0.0.1:8000'"><b>LOGOUT</b></button>

</div>

    </body>
</html>