{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Quiz</title>
 		<link rel="stylesheet" type="text/css" href={% static 'stylee.css' %}>       
    </head>
    <body>

     <form class="register-form" action="/processWithdraw/" method="post">
        {% csrf_token %}
     <div class="login-page">
     <div class="form">
<input type="text" id="WithdrawAmt" name="WithdrawAmt" placeholder="Enter Amount to be Withdrawn" class="searchTextField" />
     <button><a href="/processWithdraw">SUBMIT</a></button>

    
  </div>
</div>
</form>
    </body>
</html>