{% load static %}

<!DOCTYPE>
<html>
<head>
        {% load static %}
        <title>Quiz</title>
 		<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>    
</head>
<body>
	
	<nav class="navbar">
		<ul class="navbar-nav">
			             <li><a href="/home">Home</a></li>		
						<li><a href="/viewBalance">View Balance</a></li>
						<li><a href="/Deposit">Deposit</a></li>
						<li><a href="/Withdraw">Withdraw</a></li>
						<li><a href="/editPassword">Change Pin</a></li>
						<li><a href="/mini">Mini Statement</a></li>						
			<li style="float:right;margin-right:10px"><a href="http://127.0.0.1:8000">Logout</a></li>
		</ul>
	</nav>
</body>
</html>