{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Quiz</title>
 		<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>       
    </head>
    <body>
        <h1 align="center" class ="fontmini">Mini Statement</h1>
    <table align="center" class="productTable">
        <thead>
            <tr>
                <th>AMOUNT</th>
                <th>TYPE</th>
                <th>USERNAME</th>
                <th>BALANCE</th>
                <th>TRANSACTION DATE</th>
            </tr>  
        </thead>
        </tr> {% for item in query_results %} <tr> 
                <td>{{ item.amount }}</td> 
                <td>{{ item.type }}</td> 
                <td>{{ item.user_name }}</td>
                <td>{{ item.abalance }}</td> 
                <td>{{ item.tdate }}</td> 
            </tr> {% endfor %} 
    </table>

    </body>
</html>