{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Quiz</title>
 		<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>       
    </head>
    <body class="bodie">
<div  align="center">
<h1 class="font1" >Transaction Successful</h1>
<br></br>
<h3 class = "fontt">Amount Deposited is {{ DepositAmt }}</h3>
<h3 class = "fontt">Available Balance is {{ balance }}</h3>
<br></br>
</div>

    </body>
</html>